body {
    font-family: Arial, sans-serif;
}

.show {
    display: block !important; 
}

.lumin-page {
    background-color: #f1f1f1;
    display: none;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    height: 70vh;
    bottom: 10%;
    right: 0%;
    transform: translate(-10%, -10%);
    z-index: 99;
    width: 400px;
    overflow-y: auto;
}

.cardOne{
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
}

.join {
    padding: 15px 50px;
    border: none;
    border-radius: 100px;
    background-color: #4378ff;
    color: #fff;
    font-size: 16px;
}
.Redeem {
    padding: 10px 0;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 330px;
    cursor: pointer;
}

.Redeem-purchase {
    border: none;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.Redeem:focus {
    background-color: aliceblue;
}

.Redeem .icon {
    height: 20px;
    width: 20px;
}

.box-redeem {
    background-color: #fff;
    box-shadow: 0 0 14px rgba(0,0,0,0.25), 0 0 0 rgba(0,0,0,0.22);
    border-radius: 10px;
}

p{
    margin: 0;
}

.display-redeem {
    display: flex;
    align-items: center;
}

.display-redeem h3 {
    margin-left: 20px;
}


.purchase-redeem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.purchase-order {
    display: flex;
    align-items: center;
}

.purchase-redeem-info {
    display: none;
}
.purchase-redeem-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.Redeem-point {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.Redeem-point-underline {
    border: none;
    text-decoration: underline;
    background-color: none;
    color: #3251a4;
    cursor: pointer;
}

.text-blur {
    opacity: .4;
    font-size: 10px;
}

.text-purchase {
    font-size: 12px;
}

.Redeem svg:last-child {
    margin-left: auto;
    margin-right: 10px;
}

.luminBtm {
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.copyright {
    margin-bottom: 0;
    padding: 15px;
    border-top: 1px solid #d1d1d1;
}

.Card {
    background-color: #4378ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    height: 215px;
}

.floating-wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.white-heading {
    color: white;
    margin-top: 0;
    padding-top: 15px;
}

.loyalty-icon {
    margin: 0 10px;
}

.arrow-icon {
    margin-left: 100px;
}


.silver {
    border: 1px solid #d1d1d1;
    padding: 4px 15px;
    border-radius: 100px;
    margin: 0 9px;
}

.pointButton {
    position: relative;
}

.pointRating {
    position: absolute;
    width: 82%;
    top: 30px;
    left: 35px;
    height: 4px;
    background-color: #d9d9d9;
    border-radius: 5px;
}
.pointButton::after {
    position: absolute;
    content: '';
    width: 30%;
    top: 30px;
    border-radius: 5px;
    left: 35px;
    height: 4px;
    background-color: #3251a4;
}
.display-redeem svg {
    margin-left: 20px;
}

.purchase-redeem-content-info {
    text-align: left;
}


.cardOne, .box-redeem {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.slide-out {
    opacity: 0;
    transform: translateY(20px);
}

#redeem-content {
    display: none;
}


#back-button-in-redeem {
    cursor: pointer;
}


.hidden {
    display: none;
}

.active-list {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.active-list:hover {
    background-color: #d6d8db;
}

.active-list {
    font-size: 14px;
}

.active-coupon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.active-tool {
    width: 60%;
}

._tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    right: 5px;
  }
  
  ._tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.443);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    margin-left: -60px;
    opacity: 0;
    padding: 10px;
    transition: opacity 0.3s;
  }
  
  ._tooltip:hover ._tooltiptext {
    visibility: visible;
    opacity: 1;
  }