<div class="lumin-page">
    <div class="Card">
        <p class="white-heading">Unlock Rewards with </p>
        <h2 class="white-heading"> ABC Loyalty</h2>
        <svg class="floating-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#42e5ba" fill-opacity="1" d="M0,32L60,58.7C120,85,240,139,360,138.7C480,139,600,85,720,101.3C840,117,960,203,1080,218.7C1200,235,1320,181,1380,154.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg> 
    </div>
    <div class="cardOne">
        <h3 class="heading"> Become A VIP </h3> 
        <p> Earn Rewards. Points, discounts, free shipments, VIP badges and many more </p> 
        <a class="join" href="/account/register" style="text-decoration: none;">Join Now
        </a>
    
        <p><span>Already have an account?</span> <a href="/account/login" style="text-decoration: none;"> Sign in </a> </p>
        <div class="border-btm"> 
        </div>
    </div> 

    <div class="cardTwo">
        <h3 class="heading"> Rewards & Redeem </h3> 
        <p> Earn Rewards. Points, discounts, free shipments, VIP badges and many more </p> 
        <button class="Redeem">Rewards <svg class="arrow-icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg> 
        </button>
        <button class="Redeem">Redeem <svg class="arrow-icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg> 
        </button>
    </div>
    <div class="luminBtm">
        <p class= "copyright"> Powered by Lumin Loyalty</p>  
    </div>
</div>